*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared-style */
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
 .section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
 }
 .section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
 }

.font-opensans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo  h2{font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.text-center {
    text-align: center;
    max-width: 200px;
     
    margin: 0 auto;
}
/* main-style */
header{
    background-color: #FFF8F3;
    background: url("/developer.png") ,url("/images/header_bg.png") ,#FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px,bottom right;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {font-size: 20px;
    color: #474747;
    text-decoration: none;

}
#banner{
    /* border: solid red; */
    margin: 39px 38px 0  230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content {
    max-width: 585px;
}
#banner .banner-content h2 {
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}


#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
 .about-info .info-card p {
     font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
#skills ,#about ,#resume {
    padding-top: 130px;
}
#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;}
 .skill-box {
    display: flex;
    gap: 24px;
 }
 .skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
 }
 .skill-card img {
    width: 44px;
    margin-bottom: 30px;
 }
 .skill-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
 }
 .skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
 }
  #resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;}
    #resume .resume-container hr {
        margin: 30px 0;
    }
 .resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
 }
 .resume-card {
    max-width: 511px;
    margin-right: 47px;
 }
 .resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;  
 }
 .resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
 }
 .resume-card .card-text {
    font-size: 16;
    color: #757575;
     
    line-height: 28px;
 }
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social {
    max-width: 562px;
}
.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p {
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .social .icons a {
    margin-right: 24px;
}
.footer-container .form input[type="text"] ,
.footer-container .form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}